<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-4">
      <div class="jumbotron bg-danger text-white text-center">
        <img src="../assets/ng.png" alt="angular logo" class="angular-logo">
        <h1>{{ title }}</h1>
        <!-- <app-tooltip text="this is a placehoder" position="bottom"></app-tooltip> -->
        <!-- <app-popper></app-popper> -->
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <input type="file" #fileupload>
      <button (click)="uploadAvatar(fileupload)">Upload</button>
      <p *ngIf="output">
        {{ output }}
      </p>
    </div>
  </div>
</div>

<div class="container mt-2">
  <div class="row">
    <div class="col-md-12">
      <ngx-tabs>
        <ngx-tab tabTitle="People List">
          <app-people-list
            [people]="people"
            (addPerson)="onAddPerson()"
            (editPerson)="onEditPerson($event)">
          </app-people-list>
        </ngx-tab>
        <ngx-tab tabTitle="Tab 2" [template]="personEdit" [dataContext]="people[0]"></ngx-tab>
      </ngx-tabs>

      <ng-template #personEdit let-person="data">
        <app-person-edit [person]="person" (savePerson)="onPersonFormSubmit($event)"></app-person-edit>
        <!-- Hi, I am {{ person?.name }} 😃! -->
      </ng-template>

    </div>
  </div>
</div>


<router-outlet></router-outlet>
